{% extends "layout.html" %}
{% block title %}
Search Books
{% endblock %}

{% block head %}
Welcome {{ user }}
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('index')}}">Book-d</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
      <li>
        <div class="form-group-home">
          <form method="post" action={{url_for('results')}}>
            <input type="text" name="search" placeholder="Enter title, author, isbn">
            <button class="btn btn-md">Search</button>
          </form>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href"#">"<span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
      <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

{% endblock %}
